@model Web.Models.TestResultViewModel

@{
    ViewBag.Title = "TestResultView";
}

<h2>Test result.</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
